<footer class="row py-2 bg-light">
    <div class="col col-lg-8 col-sm-12 d-none d-lg-block d-xl-block">
        <img src="{{ "/static/images/logo.jpg" }}" alt="kaggledatasets logo" class="m-5" width="48">
    </div>
    <div class="col col-lg-2 col-sm-6 py-5 px-2">
        <nav class="nav flex-column">
            <a class="nav-link active" href="/">kaggledatasets</a>
            <a class="nav-link" href="/get-started">Get Started</a>
            <a href="https://github.com/kaggledatasets/kaggledatasets/blob/master/CONTRIBUTING.md" target="_blank" rel="noopener noreferrer" class="nav-link">Contributing</a>
        </nav>
    </div>
    <div class="col col-lg-2 col-sm-6 py-5 px-2">
        <nav class="nav flex-column">
            <a class="nav-link active" href="/resources">Resources</a>
            <a class="nav-link" href="/tutorials">Tutorials</a>
            <a class="nav-link" href="https://kaggledatasets.readthedocs.io">Docs</a>
            <a href="https://github.com/kaggledatasets/kaggledatasets/issues" target="_blank" rel="noopener noreferrer" class="nav-link">GitHub Issues</a>
            <a href="https://kaggledatasets.slack.com" target="_blank" rel="noopener noreferrer" class="nav-link">Slack</a>
        </nav>
    </div>
</footer>
