<nav class="navbar navbar-expand-lg navbar-light bg-kd"><a class="navbar-brand" href="/">kaggledatasets</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item "><a class="nav-link" href="/get-started">Get Started</a></li>
            <li class="nav-item "><a href="https://kaggledatasets.readthedocs.org" class="nav-link">Docs</a></li>
            <li class="nav-item "><a class="nav-link" href="/resources">Resources</a></li>
            <li class="nav-item"><a href="https://github.com/kaggledatasets/kaggledatasets" target="_blank" rel="noopener noreferrer" class="nav-link">GitHub</a></li>
        </ul>
    </div>
</nav>