<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="kaggle, datasets, tensorflow, pytorch, sklearn, pandas">
    <meta name="author" content="Kaggle Datasets">
    <meta name="title" content="Kaggle Datasets">
    <meta name="description" content="Collection of Kaggle Datasets ready to use for Everyone ">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Kaggle Datasets">
    <meta property="og:description" content="Collection of Kaggle Datasets ready to use for Everyone ">
    <meta property="og:image" content="{{ "/static/images/logo.jpg" }}">
    <meta property="og:url" content="https://kaggledatasets.github.io">
    <meta property="og:type" content="website">
    <meta property="twitter:title" content="Kaggle Datasets">
    <meta property="twitter:description" content="Collection of Kaggle Datasets ready to use for Everyone ">
    <meta property="twitter:image" content="{{ "/static/images/logo.jpg" }}">
    <meta property="twitter:site" content="https://kaggledatasets.github.io">
    <meta property="twitter:creator" content="@KaggledDatasets">
    <link rel="shortcut icon" type="image/png" href="{{ "/static/images/favicon.ico" }}" />
    <link rel="canonical" href="https://kaggledatasets.github.io/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Average+Sans&display=swap" rel="stylesheet">
    <title>Kaggle Datasets</title>
    <link href="{{ "/static/css/style.css" }}" rel="stylesheet">
</head>
<body>
    {% include header.html %}
    <div class="container-fluid">
        {{ content }}
        {% include footer.html %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ "/static/js/utils.js" }}"></script>
</body>
</html>